[Desktop Entry]
Name=qBittorrent Router
Comment=Send torrents to Docker instances
Exec=/home/mgenc/.local/bin/qb-redirector-rs %U
Icon=qbittorrent
Terminal=false
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;inode/directory;
Categories=Network;FileTransfer;P2P;
